<div class="flex navbar">
  <span routerLink="/" class="pointer">
    <!--<img src="https://ayudalos.info/assets/svg/icon.svg" class="icon">-->
    <span class="main-color header-nav" style="margin-left:30px;">Showapp</span>
  </span>
  <div>
    
  </div>
  <span class="spacer"></span>
  <span class="tab pointer gray" routerLink="/movies" routerLinkActive="active-link">Movies</span>
  <span class="tab pointer gray" routerLink="/series" routerLinkActive="active-link"> Series</span>
  <span class="tab pointer gray" style="margin-right:40px;" routerLink="/favorites" routerLinkActive="active-link"> Favorites </span>
</div>
