.icon{
  width:30px;
  height:30px;
  display:inline-block;
}

.header-nav{
  padding:10px;
  font-size: larger;
  font-weight: 900;
  display:inline-block;
}

.tab{
  padding:10px;
  display:inline-block;
}

.active-link{
  border: none;
  border-bottom: 1px solid rgb(0,189,255);
}

@media only screen and (max-width: 700px) {
  .spacer{
    display:none;
  }
  .tab{
    width:100%;
  }
  .navbar{
    flex-direction: column;
  }
  span {
    text-align: center;
  }
}
