<div class="flex navbar">
    <span class="main-nav">
    <img src="/assets/img/logoMovie.svg" class="icon" routerLink="/">
    <i class="material-icons pointer menu-nav" (click)="toggleMenu()">menu</i>
    <!--<span class="main-color header-nav" style="margin-left:30px;">Showapp</span>-->
    </span>
    <div>

    </div>
    <span class="spacer"></span>
    <div id="nav-right" *ngIf="!isMobile">
        <span class="tab pointer gray center" routerLink="/movies" routerLinkActive="active-link">Movies</span>
        <span class="tab pointer gray center" routerLink="/series" routerLinkActive="active-link"> Series</span>
        <span class="tab pointer gray last-tap center" routerLink="/favorites" routerLinkActive="active-link"> Favoritos </span>
    </div>
</div>