<div class="flex navbar">
  <span routerLink="/" class="pointer">
    <!--<img src="https://ayudalos.info/assets/svg/icon.svg" class="icon">-->
    <span class="main-color header-nav">Showapp</span>
  </span>
  <span class="spacer"></span>
  <span class="tab pointer" routerLink="/movies" routerLinkActive="active-link">Movies</span>
  <span class="tab pointer" routerLink="/series" routerLinkActive="active-link"> Series</span>
  <span class="tab pointer" routerLink="/favorites" routerLinkActive="active-link"> Favorites </span>
</div>
