<div class="container">
    <div>
        <input [(ngModel)]="searchQuery" class="full-width search-input" input="text" placeholder=" Search your favorites series or movies">
    </div>
    <div class="flex card-content">
        <div class="card card-movies flex" *ngFor="let movie of movies| filter:searchQuery" style="flex-direction:row;">
            <app-movie-card [movie]="movie"></app-movie-card>
        </div>
    </div>
    <div class="flex card-content">
        <div class="card card-movies flex" *ngFor="let serie of series | filter:searchQuery;" style="flex-direction:row;">
            <app-serie-card [serie]="serie"></app-serie-card>
        </div>
    </div>
    <div class="flex" *ngIf="series.length < 1 && movies.length < 1">
        <h1 style="margin-left:60px;" class="dark-gray">
            No tienes ningún favorito
        </h1>
    </div>
</div>