<div class="flex card">
    <div>
        <img [src]="serie.poster_path | photoFormat" alt="serie photo" class="image-card">
       <span class="pointer dark-gray" (click)="addNewFavorite(movie)" [style.color]="selectedFavorite ? 'red' : black"  *ngIf="isMobile.matches"> Add to favorites<i class="material-icons">favorite</i></span>
    </div>
    <div style="padding:0px 20px;">
        <div class="flex">
            <h2 class="dark-gray" style="margin-bottom: 0px;">{{serie.name}}</h2>
            <span class="spacer"></span>
            <span class="dark-gray">{{serie.vote_average}}</span>
        </div>
        <span class="gray">{{serie.first_air_date | date:'mediumDate'}}</span>
        <!--<span>{{serie.genre_ids}}</span>-->
        <div class="flex" style="flex-flow: column; height: 200px;">
            <p class="dark-gray">
                 {{isMobile.matches ? (serie.overview | slice:0:60): (serie.overview | slice:0:180)}}...
            </p>
            <div class="spacer"></div>
            <div class="flex">
                <button class="raised" (click)="showVideo()">
                  Trailer
                </button>
                <span class="spacer"></span>
                <span class="pointer dark-gray" [style.color]="selectedFavorite ? 'red' : black"  (click)="addNewFavorite(serie)" *ngIf="!isMobile.matches"> Agregar a favoritos <i class="material-icons">favorite</i></span>
                <!--<span (click)="removeFavorite(i)" style="color:red;"> Remover de favoritos <i class="material-icons">favorite</i></span>-->
            </div>
        </div>
    </div>
</div>

<div class="overlay" *ngIf="showTrailer">
  <div>
    <div class="card">
    <div class="flex">
      <span></span>
      <span class="spacer"></span>
      <i class="material-icons pointer" style="font-size:60px;color:white;" (click)="closeVideo()">close</i>
    </div>
    <iframe width="100%" height="400px" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"
      [src]="domSanitizer.bypassSecurityTrustResourceUrl(videoLink)">
    </iframe>
    </div>
  </div>
</div>