<div class="flex card">
    <div>
        <img [src]="serie.poster_path | photoFormat" alt="serie photo" class="image-card">
    </div>
    <div style="padding:0px 20px;">
        <div class="flex">
            <p class="gray title-card" style="margin-bottom: 0px;">{{serie.name}}</p>
            <span class="spacer"></span>
            <span class="gray" style="margin-top: 15px">{{serie.vote_average}}</span>
        </div>
        <div>
            <span class="dark-gray small-font">Duración... | </span>
            <span class="dark-gray small-font">{{serie.first_air_date | date:'mediumDate'}} | </span>
            <span class="dark-gray small-font"> Género </span>
        </div>
        <!--<span>{{serie.genre_ids}}</span>-->
        <div class="flex" style="flex-flow: column; height: 200px;">
            <p class="gray text-description">
                {{isMobile.matches ? (serie.overview | slice:0:50): (serie.overview | slice:0:220)}}...
            </p>
            <div class="spacer"></div>
            <div class="flex" class="flex button-favorite">
                <button class="raised" (click)="showVideo()">
                  Ver Trailer
                </button>
                <span class="spacer"></span>
                <span class="pointer gray small-size" [style.color]="selectedFavorite && 'red'" (click)="addNewFavorite(serie)"> Agregar a favoritos <i class="material-icons" [style.color]="selectedFavorite && 'red'">favorite</i></span>
                <!--<span (click)="removeFavorite(i)" style="color:red;"> Remover de favoritos <i class="material-icons">favorite</i></span>-->
            </div>
        </div>
    </div>
</div>

<div class="overlay" *ngIf="showTrailer">
    <div>
        <div class="card">
            <div class="flex final-button">
                <span></span>
                <span class="spacer"></span>
                <i class="material-icons pointer" style="font-size:60px;color:white;" (click)="closeVideo()">close</i>
            </div>
            <div class="center-flex">
                <iframe width="50%" height="500px" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen" [src]="domSanitizer.bypassSecurityTrustResourceUrl(videoLink)">
                        </iframe>
            </div>
        </div>
    </div>
</div>